<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <akka>
        <hocon>
            <![CDATA[
                    akka {                 
            persistence{
              journal {
                plugin = "akka.persistence.journal.sql-server"
                sql-server {
                    class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                    schema-name = dbo
                    auto-initialize = on
                    connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|Resources\\DevicesEvents.mdf;Integrated Security=True;MultipleActiveResultSets=True"
                }
              } 
              snapshot-store{
                plugin = "akka.persistence.snapshot-store.sql-server"
                sql-server {
                    class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                    schema-name = dbo
                    auto-initialize = on
                    connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|Resources\\DevicesEvents.mdf;Integrated Security=True;MultipleActiveResultSets=True"
                }
              }
            } 
            }
          
      ]]>
        </hocon>
    </akka>
    
</configuration>